@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navIcons {
    @apply size-7;
  }
  .upperArea {
    @apply my-28;
  }
  .eachSection {
    @apply mx-4 my-10;
  }

  .into-center {
    @apply flex items-center justify-center;
  }
  .pageHeaderArea {
    @apply pt-32;
  }
  .single-product-info {
    @apply h-60;
  }
  .NavDrawer {
    @apply absolute bottom-0 left-0 right-0 top-0
        -z-10 h-0 w-0 bg-blue-800 transition-all group-hover:h-10 group-hover:w-10;
  }
  .product-filter-heading {
    @apply text-lg font-semibold dark:text-gray-800;
  }
  .product-filter-container {
    @apply space-y-5;
  }

  .btn-primary {
    @apply xl:py-4  2xl:py-6;
  }
  .range-slider {
    @apply h-3 w-full cursor-pointer appearance-none rounded-lg bg-brand-900;
  }
  .profile-route-title {
    @apply my-4 mb-4  text-2xl font-semibold  text-gray-900 dark:text-gray-100;
  }
  .hidden-mobile {
    @apply hidden md:block;
  }
  .only-mobile {
    @apply block md:hidden;
  }
  .input-dark {
    @apply dark:bg-gray-500 dark:text-gray-700 dark:placeholder:text-gray-300;
  }
  .small-hide {
    @apply hidden sm:block;
  }
  .mobile-show {
    @apply block sm:hidden;
  }
}
/*? Selected Product Style  */
@layer components {
  .profile-product-table-td {
    @apply px-1 py-2 sm:px-6 sm:py-4;
  }
  .profile-product-table-tr {
    @apply my-4 border-b bg-white hover:bg-gray-50;
  }
  .profile-product-action-btn {
    @apply me-3 inline-flex h-6 w-6 items-center justify-center rounded-full border border-gray-300 bg-white p-1 text-sm font-medium text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-200;
  }
  .profile-product-quantity-input {
    @apply block w-14 rounded-lg border border-gray-300 bg-gray-50 px-2.5 py-1 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500;
  }
  .profile-product-dlt-btn {
    @apply inline-block cursor-pointer rounded-full bg-gray-100  p-2 hover:bg-gray-200;
  }
}
/*? Selected Product Style End */

/*! lib style */
@layer components {
  .heading-default {
    @apply mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 dark:text-white md:text-5xl lg:text-6xl;
  }
  .heading-1 {
    @apply text-5xl font-extrabold;
  }
  .heading-2 {
    @apply text-4xl font-bold;
  }
  .heading-3 {
    @apply text-3xl font-bold;
  }
  .heading-4 {
    @apply text-2xl font-bold;
  }
  .heading-5 {
    @apply text-xl font-bold;
  }
  .heading-6 {
    @apply text-lg font-bold;
  }
  .word-sm {
    @apply text-xs font-semibold text-gray-500;
  }
  .btn-default {
    @apply bg-brand-900 text-black  hover:bg-brand-500/80;
  }
  .btn-sky {
    @apply bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 text-white hover:bg-gradient-to-br focus:outline-none focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-800;
  }
  .btn-danger {
    @apply bg-red-700 text-white hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300  dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900;
  }
  .btn-success {
    @apply bg-green-700 text-white hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300  dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800;
  }

  .word-gradient {
    @apply mb-4 bg-gradient-to-r from-sky-400 to-emerald-600  bg-clip-text text-3xl font-extrabold text-gray-900 text-transparent md:text-5xl lg:text-6xl;
  }

  .word-underline {
    @apply underline  decoration-blue-400 decoration-8 underline-offset-2;
  }

  .word-mark {
    @apply rounded bg-blue-600 px-2 text-white dark:bg-blue-500;
  }

  /* Dashboard */
  .dashboard-popover-heading {
    @apply text-2xl font-semibold text-gray-900 dark:text-gray-300;
  }
  .dashboard-popover-items {
    @apply text-lg font-normal text-gray-900 dark:text-gray-400;
  }
}
/*! lib style End */

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.glass-effect {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
